body {
  color: white;
  text-align: center;
  background-color: #9d88d3;
}

.kuru-spawn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

.kuru-spawn .kr {
  background-color: #8a64da;
  border: solid;
  color: white;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  z-index: 2;
}
.kuru-spawn .kr:hover {
  background-color: darkviolet;
  border-color: black;
}

marquee {
  height: 80vh;
}
.kuru-gif,
.kuru-gif-rain,
.kuru-gif-rotate {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 5px;
}

@media (max-width: 1250px) {
  .kuru-spawn {
    display: block;
  }
  .kr {
    z-index: 2
  }
}
@keyframes rotation {
0% {
  transform: rotate(0deg)
}
100% {
  transform: rotate(360deg)
}
}
@keyframes rain-anim {
  0% {
    transform: translate(0px, 0px);
  }
  4% {
    transform: translate(0px, 600px);
  }

  5% {
    transform: translate(200px, 0px);
  }
  9% {
    transform: translate(200px, 600px);
  }

  10% {
    transform: translate(-100px, 0px);
  }
  14% {
    transform: translate(-100px, 600px);
  }

  15% {
    transform: translate(-200px, 0px);
  }
  19% {
    transform: translate(-200px, 600px);
  }

  20% {
    transform: translate(100px, 0px);
  }
  24% {
    transform: translate(100px, 600px);
  }

  25% {
    transform: translate(-150px, 0px);
  }
  29% {
    transform: translate(-150px, 600px);
  }

  30% {
    transform: translate(-80px, 0px);
  }
  34% {
    transform: translate(-80px, 600px);
  }

  35% {
    transform: translate(150px, 0px);
  }
  39% {
    transform: translate(150px, 600px);
  }

  40% {
    transform: translate(-60px, 0px);
  }
  44% {
    transform: translate(-60px, 600px);
  }

  45% {
    transform: translate(90px, 0px);
  }
  49% {
    transform: translate(90px, 600px);
  }

  50% {
    transform: translate(60px, 0px);
  }
  54% {
    transform: translate(60px, 600px);
  }

  55% {
    transform: translate(-60px, 0px);
  }
  59% {
    transform: translate(-60px, 600px);
  }

  60% {
    transform: translate(-40px, 0px);
  }
  64% {
    transform: translate(-40px, 600px);
  }

  65% {
    transform: translate(40px, 0px);
  }
  69% {
    transform: translate(40px, 600px);
  }

  70% {
    transform: translate(-20px, 0px);
  }
  74% {
    transform: translate(-20px, 600px);
  }

  75% {
    transform: translate(-110px, 0px);
  }
  79% {
    transform: translate(-110px, 600px);
  }

  80% {
    transform: translate(20px, 0px);
  }
  84% {
    transform: translate(20px, 600px);
  }

  85% {
    transform: translate(-20px, 0px);
  }
  89% {
    transform: translate(-20px, 600px);
  }

  90% {
    transform: translate(50px, 0px);
  }
  99% {
    transform: translate(50px, 600px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
